/* Main container styles */
.main {
  text-align: center;
  padding: 20px;
  background: rgb(158, 119, 206);
}

/* Heading styles */
.main h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

#logo{
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 300px;
  object-fit: cover;

}
/* Form styles */
.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Search input styles */
.search-bar{
  width: 250px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.query {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: red;
}


/* Button styles */
.form .button bar {
  width: 700px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

/* Additional options heading styles */
#form h2 {
  margin-top: 240px;
  margin-bottom: 30px;
}

/* Dropdown select styles */
.select {
  width: 250px;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Label styles */
.label {
  font-weight: bold;
  margin-bottom: 5px;
}
